{% extends 'base.html' %}
{% block title %}添加模块{% endblock %}
{% block content %}
    <form class="form-inline" action="" method="post" role="form" style="margin-bottom: 10px">
        {% csrf_token %}
        <div class="form-group">
            <label>模块：</label>
            <input class="form-control" type="text" name="mod">
        </div>
        <div class="form-group">
            <label>参数：</label>
            <input class="form-control" type="text" name="args">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="提 交">
        </div>
    </form>
    <table class="table table-bordered table-hover table-striped h4">
        <tr class="info">
            <td>模块</td>
            <td>参数</td>
        </tr>
        {% for mod in all_modules %}
            <tr>
                <td>{{ mod.mod_name }}</td>
                <td>
                    <ul class="list-unstyled">
                        {% for args in mod.modargs_set.all %}
                            <li>{{ args.args_text }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}