.container{
    width: 800px;
    margin: 0 auto;
}
.header{
    height: 100px;
    background: gray;
}

.left{
    width: 200px;
    height: 300px;
    background: cadetblue;
    float: left;
}
.middle{
    height: 300px;
    background: beige;
}
.right{
    float: right;
    background: darkgoldenrod;
    width: 200px;
    height: 300px;
}

.footer{
    text-align: center;
    height: 50px;
    background: gray;
}
