.container{
    width: 800px;
    margin: 0 auto;
}
.header{
    height: 150px;
    /*background: #CCC;*/
    background-image: url("imgs/banner.jpg");
    background-size: 100%;
}

.left{
    width: 200px;
    height: 300px;
    background: cadetblue;
    float: left;
}
.middle{
    height: 300px;
    background: beige;
}
.right{
    float: right;
    background: darkgoldenrod;
    width: 200px;
    height: 300px;
}

.footer{
    text-align: center;
    line-height: 50px;
    height: 50px;
    background: gray;
}
