p,div,ul{
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    width: 800px;
}
.header{
    background-image: url("./imgs/first.jpg");
    background-size: 100%;
    height: 200px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  /* 去除超链接默认的下划线 */
}

li a:hover {
    background-color: #111;
}
.footer{
    text-align: center;
    background: #f1f1f1;
}
.clear{
    clear: both;
}


.left{
    float: left;
    padding: 10px;
    width: 267px;
    height: 200px;
    background: #4CAF50;
}
.center{
    padding: 10px;
    height: 200px;
    width: 266px;
    margin: 0 267px;
    background: chocolate;
}
.right{
    padding: 10px;
    float: right;
    width: 267px;
    height: 200px;
    background: blanchedalmond;
}


