ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #f1f1f1;
}

li a{
    display: block;
    padding: 8px 16px;  /* 上下8px，左右16px */
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

