{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建主机</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-control-static">{{ obj.as_p }}</div>

        <input type="submit" value="确认" class="btn-primary">
    </form>
    <table class="table table-bordered">
    <tr class="bg-info">
            <td>主机</td>
            <td>主机组</td>
    </tr>
        {% for h in hosts %}
        <tr>
            <td>{{ h.host }}</td>
            <td>{{ h.group }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
