{% extends 'webansi/base.html' %}

{% block title %}
添加模块
{% endblock %}

{% block content %}
    <form action="" role="form" class="form-inline" method="post">
    <div class="form-group">
        <label>
            模块：
            <input type="text" class="form-control" name="module">
        </label>
    </div>
    <div class="form-group">
        <label>
            参数：
            <input type="text" class="form-control" name="args">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="提交" class="btn btn-primary">
    </div>
    </form>
    <table class="table table-bordered">
    <thead>
    <tr class="bg-primary">
        <td>模块</td>
        <td>参数</td>
    </tr>
    </thead>
    {% for mod, args in mod_info.items %}
        <td>{{ mod }}</td>
        <td>
            <ul>
                {% for a in args %}
                    <li>{{ a }}</li>
                {% endfor %}
            </ul>
        </td>
    {% endfor %}

    </table>
{% endblock %}
