{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>polls主页</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
{% if qlist %}
    <ul>
    {% for q in qlist %}
        <li>
            <a href="/polls/{{ q.id }}/">问题{{ q.id }}:{{ q.question_text }}</a>
            发布时间：{{ q.pub_date }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>尚无内容</p>
{% endif %}
</div>
</body>
</html>