<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票首页</title>
</head>
<body>
<h1>这是投票首页</h1>
{% for question in questions %}
    <p><a href="/polls/{{ question.id }}" target="_blank">{{ question.question_text }}</a> {{ question.pub_date }}</p>
{% endfor %}
<hr>
{% for question in questions %}
    <p>{{ question.question_text }} {{ question.pub_date }}</p>
{% endfor %}
<hr>
{% for question in questions %}
    {% if question.was_pub_recently %}
        <p>{{ question.question_text }} {{ question.pub_date }}</p>
    {% endif %}
{% endfor %}
<hr>
{{ questions }}
</body>
</html>