.container{
    width: 800px;
    margin: 0 auto;
}
.left{
    width: 200px;
    float: left;
    height: 400px;
    background: lightblue;
}
.center{
    margin-left: 200px;
    width: 400px;
    height: 400px;
    background: lightcoral;
}
.right{
    width: 200px;
    float: right;
    height: 400px;
    background: lightgreen;
}


.header, .footer{
    height: 100px;
    background: #CCCCCC;
}






